2. Functional Requirements - Application Front-End
    Req-2.2 Customer Details
        1) Used to check the existing account details of a customer.

In [3]:
import pyspark as py
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import pyinputplus as pyip

In [4]:
# Initialize Spark Session
spark = SparkSession.builder.appName("Customer").getOrCreate()

In [5]:
# Fetch data from table to Spark dataframe

df_cust_sp = spark.read.format("jdbc") \
    .option("url", "jdbc:mysql://localhost:3306/creditcard_capstone") \
    .option("dbtable", "CDW_SAPP_CUSTOMER") \
    .option("user", "root") \
    .option("password", "password") \
    .load()

In [8]:
# Convert spark dataframe into Pandas Dataframe

df_cust_pd = df_cust_sp.toPandas()
df_cust_pd.head(1)

c:\Users\Learner_XZHCG217\Desktop\TEK-Dataengineering\Git\Capstone\capstone_environment\lib\site-packages\pyspark\sql\pandas\conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

,CREDIT_CARD_NO,CUST_CITY,CUST_COUNTRY,CUST_EMAIL,CUST_PHONE,CUST_STATE,CUST_ZIP,FIRST_NAME,LAST_NAME,LAST_UPDATED,MIDDLE_NAME,SSN,FULL_STREET_ADDRESS
0,4210653310061055,Natchez,United States,AHooper@example.com,(555)123-7818,MS,39120,Alec,Hooper,2018-04-21 12:49:02,wm,123456100,"656, Main Street North"

In [ ]:
# check the details of the customer 
# we are taking input as ssn to check the details of the customer. so keep all ssn in list

list_ssn = list(df_cust_pd['SSN'])
list_ssn

In [11]:
# Enter ssn

enter_ssn = input("Enter SSN: ")
enter_ssn

# we are not validating the input
#   - its takig the number less than 9 digits
#   - its taking string

'cat'

In [17]:
# Function to Enter SSN and Validate SSN (123456100)

def validate_ssn(enter_ssn):
    if enter_ssn in list_ssn:
        return True
    else:
        if enter_ssn != 0:
            print("Not a valid SSN. \n Enter 9 digit number: or enter 0 to exit")
        return False
# validate_ssn(123456100)    True
# validate_ssn(123456)       False
# validate_ssn(cast)         False

Not a valid SSN.
 Enter 9 digit number: or enter 0 to exit

False

In [ ]:
list_col = ['FIRST_NAME', 'MIDDLE_NAME', 'LAST_NAME', 'CUST_EMAIL', 'CUST_PHONE', 'FULL_STREET_ADDRESS', 'CUST_CITY', \
                'CUST_STATE', 'CUST_ZIP', 'EXIT']
def validate_ssn(var_ssn):
    if var_ssn in list_ssn:
        return True
    else:
        if var_ssn != 0:
            print("Not a valid SSN. Try again or enter 0 to exit")
        return False
def show_info(var_ssn):
    result = df_cust.where(df_cust['SSN'] == var_ssn)
    result['FIRST_NAME', 'MIDDLE_NAME', 'LAST_NAME', 'CUST_EMAIL', 'CUST_PHONE', 'FULL_STREET_ADDRESS', 'CUST_CITY', \
                'CUST_STATE', 'CUST_ZIP', 'CREDIT_CARD_NO'].show()
def validate_ans(var_ans):
    if var_ans == 'Y' :
        return True
    else:
        if var_ans != 'N':
            print("Enter Y to edit or N to exit")
        return False
def edit_info():
    while True:
        var_ssn = pyip.inputInt("Enter 9-digit SSN : ")
        if validate_ssn(var_ssn):
            show_info(var_ssn)
            break
        else:
            if var_ssn == 0:
                break
            continue
    while True:
        print(list_col)
        var_option = pyip.inputMenu(list_col, numbered=True)
        print(var_option)
        pd_result = result.toPandas()
        if var_option == "FIRST_NAME":
            var_first_name = pyip.inputStr("Enter new FIRST NAME : ")
            print(var_first_name)
            print(result[var_option])
            # pd_result[var_option] = pd_result[var_option].replace(result[var_option], var_first_name)
            print(pd_result)
            pd_result.loc[0,'FIRST_NAME']= var_first_name
            print(pd_result)
        elif var_option == 'EXIT':
            break
while True:
    var_ans = pyip.inputStr("Would you like to update Customer Information? (Y/N) : ")
    # var_ans
    if validate_ans(var_ans):
        edit_info()
        break
    else:
        if var_ans == 'N':
            break
        continue